body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(199,241,250,1) 100%);
  color: rgb(233, 82, 32);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input {
  background-color: #ffffff !important;
  color: rgb(1, 1, 1) !important;
  border-width: 0px !important;
  height: 76px !important;
  margin-bottom: 5px;
  font-size: 35px;
  border-radius: 10px !important;
}

.ant-input::placeholder {
  color: #5f6783 !important;
}

.ant-popover-arrow {
  visibility: hidden;
}

.ant-popover-title {
  color: rgb(233, 82, 32) !important;
}

.ant-popover-inner-content {
  color: rgb(233, 82, 32) !important;
}

.ant-popover-inner {
  min-width: 260px !important;
  min-height: 140px !important;
  border: 2px solid hsl(50, 100%, 49%);
  background-color: hsl(0, 0%, 100%) !important;
}

.ant-radio-group {
  margin-top: 10px;
}

.ant-radio-button-wrapper {
  background-color: hsl(50, 100%, 73%) !important;
  color: rgb(233, 82, 32) !important;
  font-weight: 500;
  border-color: rgb(233, 82, 32) !important;
}

.ant-radio-button-wrapper-checked {
  border-color: rgb(233, 82, 32) !important;
  background-color: hsl(50, 100%, 49%) !important;
}

.ant-radio-button-wrapper-checked::before {
  background-color: rgb(233, 82, 32) !important;
}

.ant-modal-content {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  padding: 0px !important; 
}

.ant-modal {
  border: 1px solid black;
  width: 440px !important;
  border-radius: 10px;
}

.ant-modal-header {
  background-color: white !important;
}

.ant-modal-title {
  color: black !important;
  padding-top: 17px !important;
  margin-left: 20px !important;
}

.ant-modal-close-icon {
  color: #363e54 !important;
  transition: 0.3s;
}

.ant-modal-close-icon:hover {
  color: white !important;
}